<% provide(:title,@testpaper.title)%>
<h1><%=@testpaper.title%></h1>
<% (1..3).each do |idx|%>
  <h2><%=gettypename(idx)%></h2>
  <% if !@hashques[idx].nil? %>
    <% @hashques[idx].each_with_index do |question,index|%>
      <%=index+1%>:<%=question.content%><br/>
    <% end %>
  <% end %>
<% end %>
