<% provide(:title,"我的试卷")%>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="single-panel-header">
      <h3>我的试卷</h3>
    </div>
    <%=render @testpapers%>
  </div>
</div>
